<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<!-- Added by gabriel muñumel -->
<% if @profile_admin %>
  <%= form_tag(merge_form_action, :id => "#{merge_form_type}_form", :enctype => "multipart/form-data") do %>
    <h3><%= _("Merge Articles")%></h3>
      <div class='clearfix'>
        <label for="article_id"><%= _("Article ID")%></label>
        <div class='input'>
          <%= text_field_tag 'merge_with' %>
        </div>
      </div>
    <%= save 'Merge' %>
  <% end %>
<% end %>
