<!-- Added by gabriel muñumel -->
<%= form_tag('merge', :id => "merge_article_form", :enctype => "multipart/form-data") do %>
  <h3><%= _("Merge Articles")%></h3>
    <div class='clearfix'>
      <label for="article_id"><%= _("Article ID")%></label>
      <div class='input'>
        <%= text_field_tag 'merge_with' %>
      </div>
    </div>
  <%= save 'Merge' %>
<% end %>
